@import (reference) "vars.less";

@fab-bg-color: #097aaa;

.carousel-container {
	display: flex;
	> .carousel {
		flex: 2;
		> .bx-wrapper {
			margin: 0;
		}
	}
	> .f-a-b {
		flex: 1;
		.text-block();
		> .button-fab {
			border: none;
			border-radius: 50%;
			.square(64px);
			background-color: @fab-bg-color;
			color: white;
			&:hover {
				background-color: darken(@fab-bg-color, 7.5%);
			}
		}
	}
}

@news-image-size: 160px;

.info-row {
	.row-2();
}

.news-block {
	> div {
		padding-top:30px;
		padding-bottom: 20px;
		display: flex;
		> .img {
			flex: 0 0 @news-image-size;
			.square(@news-image-size);
			margin-right: 20px;
		}
		> div > h3 {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
	> div + div {
		border-top: 2px solid @body-bg;
	}
}

@animal-picture-size: 200px;

.lost-animals-row {
	.row-2();
	> * {
		padding-bottom: 30px;
	}
	.image-list {
		display: flex;
		overflow: hidden;
		> * {
			flex: 0 1 @animal-picture-size * 2;
			height: @animal-picture-size;
		}
		> * + * {
			margin-left: 10px;
		}
	}
}
