@import (reference) "mixins.less";

@fab-bg-color: #097aaa;


.carousel-container {
	display: flex;
	> .carousel {
		flex: 2;
		> .bx-wrapper {
			margin: 0;
		}
		div.img {
			@media (min-width: @screen-sm-min){
				width: @container-sm - 30px;
			}
			@media (min-width: @screen-md-min){
				width: @container-md - 30px;
			}
			@media (min-width: @screen-lg-min){
				width: @container-lg - 30px;
			}
		}
	}
	> .f-a-b {
		flex: 1;
		.text-block();
		> .button-fab {
			border: none;
			border-radius: 50%;
			.square(64px);
			background-color: @fab-bg-color;
			color: white;
			&:hover {
				background-color: darken(@fab-bg-color, 7.5%);
			}
		}
	}
}

@news-image-size: 160px;

.info-row {
	.row-2();
	>.volunteer-text{
		padding: 40px;
  		padding-top: 20px;
	}
}

.news-block {
	> div {
		padding-top:30px;
		padding-bottom: 20px;
		display: flex;
		> .img {
			flex: 0 0 @news-image-size;
			.square(@news-image-size);
			margin-right: 20px;
		}
		> div {
			max-height: @news-image-size;
			position: relative;
			overflow: hidden;
			> h3 {
				margin-top: 0;
				margin-bottom: 20px;
			}
			> p + p {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
				margin: 0;
				padding: 10px 0;
				background-image: linear-gradient(to bottom, rgba(255,255,255, 0), white);
			}
		}
	}
	> div + div {
		border-top: 2px solid @body-bg;
	}
}

@animal-picture-size: 200px;

.lost-animals-row {
	.row-2();
	> * {
		padding-bottom: 30px;
		>h1{
			margin-bottom:20px;
		}
	}
	.image-list {
		display: flex;
		overflow: hidden;
		> .image-item{
			flex: 0 1 @animal-picture-size * 2;
			height: @animal-picture-size;
			position: relative;
			>.img-color{
				background-color: rgba(0,0,0,0);
				transition: background-color 0.5s ease;
				height: @animal-picture-size;
			    width: 100%;
			    position: absolute;
				padding-left: 20px;
				>h4,h5{
					color:#A7FFEB;
					display: none;
				}
			}
			>.img-color:hover{
				background-color: rgba(0,0,0,0.7);
				cursor: pointer;	
				>h4,h5{
					display: block;
				}		    
			}
		}
		> .image-item + .image-item {
			margin-left: 10px;
		}
	}
}
