@import (reference) "../lib/bootstrap/less/bootstrap.less";

@navbar-height: 100px;
@navbar-default-bg: #fff;
@footer-height: 20px;
@body-bg: #eee;
@text-block-bg: #fff;
@text-block-horizontal-margin: 30px;
@vertical-layout-margin: 5px;
@layout-margin: 30px;
@h-color: #009688;
@hover:#00796B;
@red:#F44336;

@top-color:#3d3f55;
@text-color: #616161;