@import (reference) "vars.less";

.volunteers-info {
	> .volunteers-text {
		background-color: white;
		text-align: center;
		> h1 {
			background-color: #009688;
			height: 80px;
			text-align: center;
			color: white;
			vertical-align: middle;
			margin-top: 0;
			display: table;
			width: 100%;
			> div {
				display: table-cell;
  				vertical-align: middle;
			}
		}
		> p {
			&:nth-child(2) {
				color: #00838F;
				padding-left: 30px;
				padding-right: 30px;
				text-align: center;
				font-size: 24px;
			}
			&:nth-child(3) {
				color: #F44336;
				padding-left: 30px;
				padding-right: 30px;
				text-align: center;
				font-size: 40px;
				margin-top: 15px;
				margin-bottom: 20px;
			}
			&:nth-child(4) {
				color: #00838F;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 30px;
				text-align: center;
				font-size: 14px;
				width: 500px;
				display: inline-block;
			}
		}
		> div{
			display: flex;
			justify-content: space-between;
  			align-items: stretch;  								
			> div{
				color:#fff;
				width: 32%;		
				padding-top: 10px;
				padding-left: 40px;
				padding-right: 40px;
				padding-bottom: 40px;			
				background-color: #00BFA5;
				display:inline-block;
				>h3{
					color:#fff;
				}		
				> div{
					margin-top:20px;
					text-align: left;	
				}			
				
			}
			> div:last-child{			
				background-color: #EF5350;	
				> div{
					>button{
						  	display:block;
							border-radius: 50%;
							width: 150px;
							height: 150px;
							background-color: white;
							border: none;
							font-size: 28px;
							margin: auto;
							color: #EF5350;
							margin-top: 40px;
					}
				}			
				
			}
		}
	}
}