@{
    ViewBag.Title = "Ищем хозяев";
}


<div class="animals-container">
    <div class="filter-column">
    </div>
    <div class="animals-display">
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Киса красивый</h3>
            <p>Я тоже хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Киса самый красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an2"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
        </div>
        <div>
            <div class="img an2"></div>
        </div>
        <div>
            <div class="img an3"></div>
        </div>
        <div>
            <div class="img an0"></div>
        </div>
        <div>
            <div class="img an1"></div>
        </div>
    </div>
</div>