@{
    ViewBag.Title = "Ищем хозяев";
}


<div class="animals-container">
    <div class="filter-column">
        <ul>
            <li class="menu">
                <div><span>Приюты</span></div>
                <ul>
                    <li><a>Все</a></li>
                    <li><a>Я живой</a></li>
                    <li><a>Хочу домой</a></li>
                </ul>
            </li>
            <li class="menu">
                <div><a>Собаки</a></div>
                <ul>
                    <li><a>Все</a></li>
                    <li><a>Щенки</a></li>
                    <li class="menu">
                        <div><span>Размер</span></div>
                        <ul>
                            <li><a>Все</a></li>
                            <li><a>Большие</a></li>
                            <li><a>Средние</a></li>
                            <li><a>Маленькие</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <div><a>Кошки</a></div>
                <ul>
                    <li><a>Все</a></li>
                    <li><a>Котята</a></li>
                    <li class="menu">
                        <div><span>Цвет</span></div>
                        <ul>
                            <li><a>Все</a></li>
                            <li><a>Светлые</a></li>
                            <li><a>Темные</a></li>
                            <li><a>Разноцветные</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="animals-display">
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Киса красивый</h3>
            <p>Я тоже хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Киса самый красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an2"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
        </div>
        <div>
            <div class="img an2"></div>
        </div>
        <div>
            <div class="img an3"></div>
        </div>
        <div>
            <div class="img an0"></div>
        </div>
        <div>
            <div class="img an1"></div>
        </div>
    </div>
</div>

@section scripts
{
<script>
    (function () {
        var calculate_children_height = function(el) {
            var children = $(el).children();
            var height = 0;
            for (var i = 0; i < children.length; i++)
            {
                height += children[i].clientHeight;
            }
            return height; 
        };
        $('.filter-column').on(
            'click',
            'li.menu>div',
            function(e){
                var $this = $(this);
                if (e.offsetX < 0) { // клик по псевдоэлементу
                    $this.parent().children('ul').slideToggle(500);
                    $this.parent().toggleClass("folded");
                }
            }
        );
    })();
</script>
}