@model IEnumerable<SweetHome.Models.ShelterAnimal>
@using SweetHome.Models;
@{
    ViewBag.Title = "Ищем хозяев";
    string url = Url.Action("Animals", "Home", new {});
    string dog_type = AnimalType.Dog.ToString();
    string cat_type = AnimalType.Cat.ToString();
    string blond_color = Color.Blond.ToString();
    string multi_color = Color.Varicoloured.ToString();
    string dark_color = Color.Dark.ToString();
    string small_size = Size.Small.ToString();
    string medium_size = Size.Medium.ToString();
    string large_size = Size.Large.ToString();
}

@section modal {
<div id="animal-modal"> 
    <aside>
        <section>
            <h3>Имя пёси</h3>
            <p>Живёт в приюте "Я живой"</p>
            <p>+7-654-321-0987, +7-890-123-4567</p>
        </section>
        <section class="gallery">
            <ul class="bxslider">
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625618/v625618260/2cd1c/faddhazs5hs.jpg');"
                         title="1">
                    </div>
                </li>
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625128/v625128472/34ed0/nC7to7uAsiI.jpg');"
                         title="2">
                    </div>
                </li>
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625320/v625320750/8042/x2tVza6bhnE.jpg');"
                         title="2">
                    </div>
                </li>
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625128/v625128472/34ebb/BxZNdgLrNWk.jpg');"
                         title="2">
                    </div>
                </li>
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c628119/v628119790/4a0d/wxh9G0nyDiQ.jpg');"
                         title="2">
                    </div>
                </li>
            </ul>
            <ul class="gallery-aux">
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625618/v625618260/2cd1c/faddhazs5hs.jpg');"
                         title="1">
                    </div>
                </li>
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625128/v625128472/34ed0/nC7to7uAsiI.jpg');"
                         title="2">
                    </div>
                </li>
                <li><div class="img"
                         style="background-image: url('https://pp.vk.me/c625320/v625320750/8042/x2tVza6bhnE.jpg');"
                         title="2">
                    </div>
                </li>
            </ul>
        </section>
        <section>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
        </section>
        <footer>
            <a>Ссылка</a>
            <a>Иконки</a>
            <a>Чего там ещё надо</a>
        </footer>
        <span class="close"></span>
    </aside>
</div>
}


<div class="animals-container">
    <div class="filter-column">
        <ul>
            <li><a href="@url">Все</a></li>
            <li class="menu">
                <div><span>Приюты</span></div>
                <ul>                    
                    <li><a href="@url?shelter=1">Я живой</a></li>
                    <li><a href="@url?shelter=2">Хочу домой</a></li>
                </ul>
            </li>
            <li class="menu">
                <div><a href="@url?type=@dog_type">Собаки</a></div>
                <ul>
                    <li><a href="@url?type=@dog_type&age_less=1">Щенки</a></li>
                    <li class="menu">
                        <div><span>Размер</span></div>
                        <ul>
                            <li><a href="@url?type=@dog_type&size=@large_size">Большие</a></li>
                            <li><a href="@url?type=@dog_type&size=@medium_size">Средние</a></li>
                            <li><a href="@url?type=@dog_type&size=@small_size">Маленькие</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <div><a href="@url?type=@cat_type">Кошки</a></div>
                <ul>
                    <li><a href="@url?type=@cat_type&age_less=1">Котята</a></li>
                    <li class="menu">
                        <div><span>Цвет</span></div>
                        <ul>
                            <li><a href="@url?type=@cat_type&color=@blond_color">Светлые</a></li>
                            <li><a href="@url?type=@cat_type&color=@dark_color">Темные</a></li>
                            <li><a href="@url?type=@cat_type&color=@multi_color">Разноцветные</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="animals-display">
        @foreach(var animal in Model)
        {
        <div>
            <div class="img" style="background-image: url('@animal.Images[0]');"></div>
            <h3>@animal.Name</h3>
            <p>приют</p>
            <p>телефон</p>
        </div>
        }
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Киса красивый</h3>
            <p>Я тоже хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Киса самый красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an2"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
        </div>
        <div>
            <div class="img an2"></div>
        </div>
        <div>
            <div class="img an3"></div>
        </div>
        <div>
            <div class="img an0"></div>
        </div>
        <div>
            <div class="img an1"></div>
        </div>
    </div>
</div>
<button id="activate-modal">&times;</button>

@section scripts
{
<script>
    (function () {
        var getScrollBarWidth = function() {
            var $outer = $('<div>').css({visibility: 'hidden', width: 100, overflow: 'scroll'}).appendTo('body'),
                widthWithScroll = $('<div>').css({width: '100%'}).appendTo($outer).outerWidth();
            $outer.remove();
            return 100 - widthWithScroll;
        };
        var scroll_w = getScrollBarWidth();
        var calculate_children_height = function(el) {
            var children = $(el).children();
            var height = 0;
            for (var i = 0; i < children.length; i++)
            {
                height += children[i].clientHeight;
            }
            return height; 
        };
        $('.filter-column').on(
            'click',
            'li.menu>div',
            function(e){
                var $this = $(this);
                if (e.offsetX < 0) { // клик по псевдоэлементу
                    $this.parent().children('ul').slideToggle(500);
                    $this.parent().toggleClass("folded");
                }
            }
        );
        $("#activate-modal").click(function(){
            $("#animal-modal").addClass("active");
            $("body").css("overflow-y", "hidden");
            $("body").css("padding-right", scroll_w + "px");
        });
        $(".close").click(function(){
            $(this).parents(".active").removeClass("active");
            $("body").css("overflow-y", "auto");
            $("body").css("padding-right", 0);
        });
        $("#animal-modal").click(function(e){
            if (e.target === this){
                $(this).removeClass("active");   
                $("body").css("overflow-y", "auto");
                $("body").css("padding-right", 0);
            }
        });
        require('bxslider');
        var slider = $('.bxslider').bxSlider({
            mode: 'horizontal',
            captions: true,
            pager:  false,
            onSlideBefore: function(e, o, i) {
                $("#animal-modal .gallery .gallery-aux li").removeClass("selected");
                $("#animal-modal .gallery .gallery-aux li:nth-child("+ (i + 1) +")").addClass("selected");
            }
        });
        $("#animal-modal").on("click", ".gallery-aux li", function(e){
            var li = this;
            var ul = li.parentNode;
            var index = Array.prototype.indexOf.call(ul.children, li);
            slider.goToSlide(index);
            // $(ul).children().removeClass("selected");
            // $(li).addClass("selected");
        });
    })();
</script>
}