@{
    ViewBag.Title = "Ищем хозяев";
}


<div class="animals-container">
    <div class="filter-column">
        <ul>
            <li>
                <h4>Приюты</h4>
                <ul>
                    <li>Все</li>
                    <li>Я живой</li>
                    <li>Хочу домой</li>
                </ul>
            </li>
            <li>
                <h4>Собаки</h4>
                <ul>
                    <li>Все</li>
                    <li>Щенки</li>
                    <li>
                        <h4>Размер</h4>
                        <ul>
                            <li>Все</li>
                            <li>Большие</li>
                            <li>Средние</li>
                            <li>Маленькие</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Кошки</h4>
                <ul>
                    <li>Все</li>
                    <li>Котята</li>
                    <li>
                        <h4>Цвет</h4>
                        <ul>
                            <li>Все</li>
                            <li>Светлые</li>
                            <li>Темные</li>
                            <li>Разноцветные</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="animals-display">
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Киса красивый</h3>
            <p>Я тоже хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Киса самый красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an2"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an1"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an0"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an3"></div>
            <h3>Пёся красивый</h3>
            <p>Хочу домой</p>
            <p>+7-654-321-0987</p>
        </div>
        <div>
            <div class="img an4"></div>
        </div>
        <div>
            <div class="img an2"></div>
        </div>
        <div>
            <div class="img an3"></div>
        </div>
        <div>
            <div class="img an0"></div>
        </div>
        <div>
            <div class="img an1"></div>
        </div>
    </div>
</div>


$(document).ready(function () {       
    $("#filter-animal-menu .right-plus").click(function (evt) {
        var $this = $(this);        
        $this.closest('li').siblings().find('ul').slideUp();       
        $this.siblings().slideDown();
        $this.find('i').removeClass("fa-plus-square-o");        
        $this.closest('li').siblings().find('span i').addClass("fa-plus-square-o");
        evt.preventDefault();        
    });    
});