@model System.Collections.Generic.IList<SweetHome.Models.ShelterAnimal>

@{
    ViewBag.Title = "Home Page";
}


<div class="col-md-3">
    <div class="main-left-block">
        <h3 class="center">Мы потерялись</h3>
    </div>
</div>
<div class="col-md-6">
    <ul class="bxslider">
        <li><div class="thumb" style="background-image: url('images/tshirt.jpg');" title="1"></div></li>
        <li><div class="thumb" style="background-image: url('images/tshirt.jpg');" title="2"></div></li>
    </ul>
</div>
<div class="col-md-3">
    <div class="main-rigth-block">
    <h3 class="center">Мы ищем дом</h3>
        <ul class="catalog">
            @foreach(var animal in Model)
            {
            <li>                
                <div class="little-img" style="background-image: url('images/doggy.jpg');" title="Landscape: 800x400"></div>
                <h4 class="name">Милая песя</h4>
                <div class="age">5 месяцев</div>
                <div class="place">Приют "Хочу домой"</div>
            </li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This application consists of:</h2>
        <ul>
            <li>Sample pages showing basic nav</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Customize app</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add Controllers and Views</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398602">Add Data using EntityFramework</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398603">Add Authentication using Identity</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398606">Add real time support using SignalR</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398604">Add Class library</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517848">Add client packages using Bower</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517849">Manage client packages using Grunt</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517850">Develop on different platforms</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Run & Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">Run your app locally</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">Run your app on ASP.NET Core 5</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Run commands defined in your project.json</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Sites</a></li>
        </ul>
    </div>
</div>
@section scripts
    {
        <script>
            (function () {
                require('bxslider');
                $('.bxslider').bxSlider({
                    mode: 'fade',
                    captions: true
                });
            })();
        </script>
    }