@{
    ViewBag.Title = "Contact";
}


<div class="volontee-info">
    <div class="volunteer-text" style="background-color: white;text-align: center;">
        <h1 style="background-color: #00838F;  height: 80px;  vertical-align: center;  text-align: center;  color: white;">Помогите животным найти дом</h1>
        <p style="color: #00838F;padding-left: 30px;padding-right: 30px;text-align: center;">Это поможет не только животным найти любящую семью, но и навсегда изменит вашу жизнь к лучшему </p>
        <p style="color: #f23333;padding-left: 30px;  padding-right: 30px;  text-align: center;  font-size: 40px;">Помогите сейчас</p>
        <p style="color: #00838F;padding-left: 30px;padding-right: 30px;padding-bottom: 30px;text-align: center;font-size: 14px;width: 500px;display: inline-block;">Есть много способов помочь: от раздачи листовок до организации мероприятий. Просто выберите, что вам подходит.</p>
    </div>
</div>