@{
    ViewBag.Title = "Contact";
}


<div class="volunteers-info">
    <div class="volunteers-text">
        <h1 class="volunteers-h"><div>ПОМОГИТЕ СЕЙЧАС</div></h1>
        <p>Это поможет не только животным найти любящую семью, но и навсегда</p>
        <p>изменит вашу жизнь к лучшему</p>
        <p>Есть много способов помочь: от расклейки объявлений до организации мероприятий. Просто выберите, что вам подходит</p>
        <div>
            <div>
                <h3> ПОМОГИТЕ С ОРГАНИЗАЦИЕЙ</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam eu justo dignissim placerat. Nam accumsan est in facilisis tristique. Vestibulum id iaculis eros. Morbi euismod accumsan nisl vel malesuada. Aliquam volutpat purus nec erat luctus, sed vehicula lacus ultrices. Vivamus vel egestas magna. Praesent eget leo placerat, pharetra massa et, lacinia eros. Cras dui tellus, ultricies vitae sagittis eu, consequat ac ipsum. Nunc eu eros in est varius luctus. Praesent ac rutrum lorem. Nulla in placerat dui.

                    Praesent varius placerat enim, nec finibus leo dignissim sit amet. Sed eleifend, purus eget consectetur placerat, sapien nulla scelerisque augue, non euismod mi sapien ut nisl. Quisque varius risus id quam fringilla, quis fringilla massa pellentesque. Quisque nibh ipsum, pulvinar at imperdiet nec, dictum et felis. In venenatis arcu id velit sollicitudin, eget interdum lectus sodales. Praesent vehicula magna risus, vel vulputate tellus ultricies nec. Nulla at convallis urna, ut interdum sem. Morbi eget metus et odio sollicitudin venenatis nec eu ipsum. Nunc sodales accumsan lorem nec tincidunt. Sed ac gravida purus. Vestibulum venenatis mauris quis libero tincidunt, eget commodo odio mollis. Praesent ante quam, gravida sit amet ligula id, faucibus tincidunt lacus.
                </div>
             </div>
             
             <div>
                <h3> СТАНЬТЕ ВОЛОНТЕРОМ</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam eu justo dignissim placerat. Nam accumsan est in facilisis tristique. Vestibulum id iaculis eros. Morbi euismod accumsan nisl vel malesuada. Aliquam volutpat purus nec erat luctus, sed vehicula lacus ultrices. Vivamus vel egestas magna. Praesent eget leo placerat, pharetra massa et, lacinia eros. Cras dui tellus, ultricies vitae sagittis eu, consequat ac ipsum. Nunc eu eros in est varius luctus. Praesent ac rutrum lorem. Nulla in placerat dui.

                    Praesent varius placerat enim, nec finibus leo dignissim sit amet. Sed eleifend, purus eget consectetur placerat, sapien nulla scelerisque augue, non euismod mi sapien ut nisl. Quisque varius risus id quam fringilla, quis fringilla massa pellentesque. Quisque nibh ipsum, pulvinar at imperdiet nec, dictum et felis. In venenatis arcu id velit sollicitudin, eget interdum lectus sodales. Praesent vehicula magna risus, vel vulputate tellus ultricies nec. Nulla at convallis urna, ut interdum sem. Morbi eget metus et odio sollicitudin venenatis nec eu ipsum. Nunc sodales accumsan lorem nec tincidunt. Sed ac gravida purus. Vestibulum venenatis mauris quis libero tincidunt, eget commodo odio mollis. Praesent ante quam, gravida sit amet ligula id, faucibus tincidunt lacus.
                </div>
             </div>
             
             
             <div>
                <h3> СДЕЛАЙТЕ ПОЖЕРТВОВАНИЕ</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam eu justo dignissim placerat. Nam accumsan est in facilisis tristique. Vestibulum id iaculis eros. Morbi euismod accumsan nisl vel malesuada. Aliquam volutpat purus nec erat luctus, sed vehicula lacus ultrices. Vivamus vel egestas magna. Praesent eget leo placerat, pharetra massa et, lacinia eros. Cras dui tellus, ultricies vitae sagittis eu, consequat ac ipsum. Nunc eu eros in est varius luctus. Praesent ac rutrum lorem. Nulla in placerat dui.
                    
                    <button>ПОМОЧЬ</button>

                   
                </div>
             </div>             
         </div>
    </div>
</div>

<div class="volunteers-message volunteers-info">
    <div class="volunteers-t">
        <h1 class="volunteers-h"><div>НАПИШИТЕ НАМ</div></h1>
        <div>
            <div class="message-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam eu justo dignissim placerat. Nam accumsan est in facilisis tristique. Vestibulum id iaculis eros. Morbi euismod accumsan nisl vel malesuada. Aliquam volutpat purus nec erat luctus, sed vehicula lacus ultrices. Vivamus vel egestas magna. Praesent eget leo placerat, pharetra massa et, lacinia eros.
            </div>
            <div class="message-form">
                <form>
                    <div class="form-group">
                        <input type="text"  id="inputName" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input type="email"  id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text"  id="inputTopic" placeholder="Тема">
                    </div>
                    <div class="form-group">
                        <textarea  id="inputMessage" placeholder="Сообщение"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>