@{
    ViewBag.Title = "Contact";
}

@section modal {
<div id="volunteers-modal"> 
    <aside>
        <section>
            <h2>Сбор средств</h2>
            <p>
                Здесь описание на что собираем средства и кому они будут перечислены. Пока открыли просто яндекс кошелек. Можно заменить на любой другой. Можно проверить работу. Все что соберем перечислим обратно.
            </p>
        </section>
        <section>
            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=410013398640025&quickpay=donate&payment-type-choice=on&default-sum=100&targets=%D0%9F%D0%BE%D0%BC%D0%BE%D1%89%D1%8C+%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%BC%D1%83+%D0%BF%D0%BE%D1%80%D1%82%D0%B0%D0%BB%D1%83+%D0%B7%D0%B0%D1%89%D0%B8%D1%82%D1%8B+%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85&target-visibility=on&project-name=SweetHome&project-site=http%3A%2F%2F188.226.250.148%2F&button-text=01&comment=on&hint=%D0%92%D1%8B+%D0%BC%D0%BE%D0%B6%D0%B5%D1%82%D0%B5+%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%B8%D1%82%D1%8C+%D0%B7%D0%B4%D0%B5%D1%81%D1%8C+%D0%BA%D0%BE%D0%BC%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D1%80%D0%B8%D0%B9&successURL=http%3A%2F%2F188.226.250.148%2FHome%2FVolunteers" width="700" height="201"></iframe>
        </section>
        <footer>
        </footer>
        <span class="close"></span>
    </aside>
</div>
}

<div class="volunteers-info">
    <div class="volunteers-text">
        <h1 class="volunteers-h"><div>ПОМОГИТЕ СЕЙЧАС</div></h1>
        <p>Это поможет не только животным найти любящую семью, но и навсегда</p>
        <p>изменит вашу жизнь к лучшему</p>
        <p>Есть много способов помочь: от расклейки объявлений до организации мероприятий. Просто выберите, что вам подходит</p>
        <div>
            <div>
                <h3> ПОМОГИТЕ С ОРГАНИЗАЦИЕЙ</h3>
                <div>
                    Каждый приют устраивает акции, на которых можно лично познакомится с животными, финансово помочь приюту или забрать животное домой. Именно на таких мероприятиях больше всего питомцев находят себе хозяев. Если Вы хотите лично поучаствовать в судьбе наших подопечных, становитесь организатором наших акций! Вы получите множество позитивных эмоций и осознание того, что благодаря именно Вам чья-то жизнь изменилась навсегда! Это отличная возможность познакомиться с обитателями приюта, провести с ними целый день, ведь им очень не хватает общения. Кроме того, именно на таких акциях собирается больше всего средств на помощь приютам. Эти деньги пойдут на питание собак и кошек, их лечение, стерилизацию, пристройство, обеспечение нормальных условий содержания, строительство вольеров и многое другое. На акции можно принести с собой корм, старые теплые вещи, газеты. Любая помощь, которую Вы можете оказать,бесценна для наших питомцев. Ведь это значит, что у них будет ещё один день, ещё один шанс найти того, кто бы им бы сказал «теперь ты дома».
                </div>
             </div>
             
             <div>
                <h3> СТАНЬТЕ ВОЛОНТЕРОМ</h3>
                <div>
                    Приютам Челябинска и Челябинской области постоянно требуется Ваша помощь для содержания животных. Так как места в приютах для всех животных нет, часто требуется их передержка, именно Вы и Ваши знакомые могут спасти беззащитное существо /от живодёрни/ не дать ему погибнуть. Также Вы можете помочь облагородить временный дом пушистого друга своими руками – помочь в строительстве и на субботниках. Или же привезти дрова на зиму, инструменты для строительства и ремонта вольеров. Постоянно требуется корм, крупы (только геркулес и рис), медикаментами, бинты и вата, средства от блох и клещей, глистогенные препараты (любые). Если у Вас есть ненужные тёплые вещи, подушки, ковры, которые будут согревать питомцев в холодное время года, посуда, лотки и газеты, игрушки, то приюты будут рады принять эти вещи для животных, у которых благодаря Вам появится более удобные условия для их одинокой жизни. Они всегда рады гостям, Вы можете приехать в приют и просто покормить, погулять с ними. Им очень не хватает внимания.
                </div>
             </div>
             
             
             <div>
                <h3> СДЕЛАЙТЕ ПОЖЕРТВОВАНИЕ</h3>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam eu justo dignissim placerat. Nam accumsan est in facilisis tristique. Vestibulum id iaculis eros. Morbi euismod accumsan nisl vel malesuada. Aliquam volutpat purus nec erat luctus, sed vehicula lacus ultrices. Vivamus vel egestas magna. Praesent eget leo placerat, pharetra massa et, lacinia eros. Cras dui tellus, ultricies vitae sagittis eu, consequat ac ipsum. Nunc eu eros in est varius luctus. Praesent ac rutrum lorem. Nulla in placerat dui.
                    <div>
                        <button id="volunteers-help">ПОМОЧЬ</button>
                    </div>
                   
                </div>
             </div>             
         </div>
    </div>
</div>

<div class="volunteers-message volunteers-info">
    <div class="volunteers-t">
        <h1 class="volunteers-h"><div>НАПИШИТЕ НАМ</div></h1>
        <div>
            <div class="message-info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium diam eu justo dignissim placerat. Nam accumsan est in facilisis tristique. Vestibulum id iaculis eros. Morbi euismod accumsan nisl vel malesuada. Aliquam volutpat purus nec erat luctus, sed vehicula lacus ultrices. Vivamus vel egestas magna. Praesent eget leo placerat, pharetra massa et, lacinia eros.
            </div>
            <div class="message-form">
                <form>
                    <div class="form-group">
                        <input type="text"  id="inputName" placeholder="Имя">
                    </div>
                    <div class="form-group">
                        <input type="email"  id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text"  id="inputTopic" placeholder="Тема">
                    </div>
                    <div class="form-group">
                        <textarea  id="inputMessage" placeholder="Сообщение"></textarea>
                    </div>
                    <button type="submit" class="btn btn-danger">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script>
    (function () {
        $("#volunteers-modal").click(function(e){
            if (e.target === this){
                $(this).removeClass("active");   
                $("body").css("overflow-y", "auto");
                $("body").css("padding-right", 0);
            }
        });
        $("#volunteers-help").click(function(){
            $("#volunteers-modal").addClass("active");
            $("body").css("overflow-y", "hidden");
            $("body").css("padding-right", scroll_w + "px");
        });
        $(".close").click(function(){
            $(this).parents(".active").removeClass("active");
            $("body").css("overflow-y", "auto");
            $("body").css("padding-right", 0);
        });
    })();
</script>
}