@{
    ViewBag.Title = "Contact";
}


<div class="volunteers-info">
    <div class="volunteers-text">
        <h1>Помогите животным найти дом</h1>
        <p>Это поможет не только животным найти любящую семью, но и навсегда изменит вашу жизнь к лучшему </p>
        <p>Помогите сейчас</p>
        <p>Есть много способов помочь: от раздачи листовок до организации мероприятий. Просто выберите, что вам подходит.</p>
    </div>
</div>