<div class="shelters-list-info">
	<div>
		<div class="description">
		  <h2>Приют "Друг" </h2>
		  <div class="slogan">
              
              
          </div>
		  <!--<div class="vk"> <a href="https://vk.com/sobakot74" target="_blank">Группа Вконтакте</a> </div>-->
		  <div class="text">
			     <p>Приют "Друг" это 40 кошечек и около 100 собак, спасенных с улицы или из непростых жизненных ситуаций, в которых их бросили бывшие хозяева, живущих под одной крышей и ждущих тех, у кого найдется для них место в сердце, кто подарит им счастье быть любимыми и домашними, кто поможет забыть все плохое и покажет, что человек может не только обижать, но и заботиться)  </p>
                 <p>Приют "Друг"- его сердце и душа, руководитель Татьяна Семеновна, которая уже 18 лет своей жизни посвятила животным, для которой все дни проходят в заботах о своей большой пушистой семье) </p> 
                 <p>Приют "Друг" - это члены организации, на протяжении многих лет оказывающих помощь приюту, решающих важнейшие вопросы и задачи деятельности и функционирования приюта, помогающие найти все, что нужно для того, чтобы животные жили в нормальных условиях, были здоровы и могли обрести свой новый дом и любящих хозяев.  </p>
                 <p>Приют "Друг" это (в идеальном варианте) работники приюта, каждый день вместе с Татьяной Семеновной кормят, поят, лечат,выгуливают, убирают за животными. </p> 
                 <p>Приют "Друг"-это Вы, наши друзья, все, кто хотя бы раз или постоянно помогает приюту. Совершенно разные люди, разных возрастов, профессий, объединенные одним - доброму отношению к животным, неравнодушные к проблеме бездомных животных и желающие что-то изменить в этом мире. Без Вашей поддержки приют не мог бы просуществовать столько лет. ↘Ветеринары, фотографы, волонтеры, те, кто помогает кормами, лекарствами,вещами, руками в приюте, машинами, те, кто размещает объявления о пристройстве, те, кто помогает на акциях, все Вы -значимые участники в жизни нашего приюта. Знакомые и незнакомые люди приходят на помощь хвостикам приюта, когда совсем тяжело. Это дает надежду, что вместе мы сможем справиться со сложностями!! </p>
          </div>
		  <!--<button>Посмотреть животных</button>-->
		  <div class="hrefs">
              <a class="img-color"></a>
			  <div>
				  <div class="img"
			         style="background-image: url('http://www.preventivevet.com/hs-fs/hub/347034/file-2362500793-jpg/Cat-dog-icon-small.jpg?t=1437097522219');height:50px;width:50px;margin:0 auto;"
					 title="Животные">
				    </div>
					<span>Наши животные </span>
				</div>
                <a class="img-color" href="https://vk.com/priutdrug74" target="_blank"></a>
				<div>
				  <div class="img"
			         style="background-image: url('http://thedkmodels.com/vk.jpg');height:50px;width:50px;margin:0 auto;"
					 title="Животные">
				    </div>
					<span>Группа вконтакте </span>
				</div>
                <a class="img-color" href="http://priutdrug74.ru/" target="_blank"></a>
				<div>
				  <div class="img"
			         style="background-image: url('http://m.viitorcloud.com/images/domain.png');height:50px;width:50px;margin:0 auto;"
					 title="сайт">
				    </div>
					<span>Веб-сайт </span>
				</div>
			</div>
		</div>
		<div class="img"
	         style="background-image: url('https://pp.vk.me/c310620/v310620988/4e83/qfhlJyFDDiE.jpg');width:250px;height:600px;
	         title="1">
	    </div>
	</div>
</div>


<div class="help-block">
    <header><h1>КАК ПОМОЧЬ</h1></header>
    <div>
        <div class="message-info">
            <h3> Нужды приюта </h3>
            <p>Питание для собак</p>
            <ul>
                <li>Крупы: рис, геркулес, гречка</li>
                <li>Мясо: курица, говядина, полуфабрикаты</li>
                <li>КОРМ СУХОЙ </li>
                <li>СУХОЙ ЛЕЧЕБНЫЙ КОРМ Роял Канин Renal </li>
            </ul>
            <p>НАПОЛНИТЕЛЬ ДРЕВЕСНЫЙ</p>
            <p>Для утепления будок постоянно нужны СТАРЫЕ ПАЛЬТО</p>
            <p>В приюте очень нужны ФУФАЙКИ мужские, в основном, и женская. 
В процессе работы, они пачкаются, рвутся, мокнут, а потом очень долго сохнут,в общем приходят в негодность очень быстро </p>
        </div>
        <div>
            <h3> Пункты сбора</h3>
            <p>Пожалуйста, кто может помочь,</p>
            <ul>
                <li>принесите на акцию в "Зоомир" (у Парка Пушкина) 6 декабря (воскресенье) с 12 до 16 ч</li>
                <li>можно диспетчеру приюта на 250 лет Челябинска передать (8-951-79-50-685 Маргарита)</li>
                <li>если оба варианта Вам неудобны, напишите в личные сообщения администратору http://vk.com/id4160472 , где можно у Вас забрать.</li>
            </ul>
            
            <p></p>
        </div>
        <div>
             <h3> Финансовая помощь </h3>
             <p>Номер карты СБ: 6390 0272 9011 9176 52</p>
             <p>Яндекс кошелек: 41001434324861</p> 
             <p>WebMoney: R246962901825</p>
             <p>Челябинская городская общественная организация защиты животных "Друг"<br>
                ЧЕЛЯБИНВЕСТБАНК <br>
                р/с 40703810800120000142<br>
                БИК банка 047501779 ИНН 7447037557<br>
                Кор. счёт банка 30101810400000000779</p>     
             <p>Вы можете помочь прямо сейчас и перевести любую сумму на наш Яндекс-кошелек</p>
             <form class="paymentForm" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
              <input type="hidden" name="receiver" value="41001434324861"> 
              <input type="hidden" name="formcomment" value="Приют для животных «Друг»">
              <input type="hidden" name="short-dest" value="Приют для животных «Друг»">
              <input type="hidden" name="quickpay-form" value="donate"> 
              <input type="hidden" name="targets" value="Помощь животным приюта «Друг» г.Челябинск">
              <div class="form-group ">
                <label for="sum" ">Сумма пожертвования</label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control" id="sum" name="sum" value="100" >
                </div>
                <div id="rubDiv" >
                 <span>руб.</span>
                </div>
              </div>
              <div class="form-group" id="paymentTypes">
                  <label for="">Способ оплаты</label>
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="AC" checked> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__any-card.png" alt="" title="">
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="MC"> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__mobile.png" alt="" title="">
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="PC"> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__yamoney.png" alt="" title="">
                      </label>
                   </div>
                </div>
                <div class="form-group" id="commentGroup">
                    <label for="comment" ">Комментарий (необязательно)</label>
                    <textarea class="form-control" name="comment" rows="3" placeholder="Здесь можно указать цель пожертвования, например, на корм и лечение животных."></textarea>
                </div> 
                 <div>                         
                    <button class="btn btn-danger" type="submit">ПОМОЧЬ</button>
                </div>
            </form>       
        </div>
    </div>
</div>


<div class="contacts-block">
    <header><h1>КОНТАКТЫ</h1></header>
    <div>
        <div class="message-info">
            <ul>
                <li>Диспетчер ЧГООЗЖ"Друг" 8-951-79-50-685 Маргарита
                    



                </li>
                <li>8-902-894-61-76 контактный телефон председателя ЧГООЗЖ "Друг" Ворониной Татьяны Семёновны <br>
                    Звоните настойчиво, так как Т.С. в основном находится на территории приюта, убирает в вольерах, кормит, выгуливает и готовит еду животным. Поэтому ответить на звонок может не сразу.<br>
                </li>
        </div>
        <div class="message-form">
            <form>
                <div class="form-group">
                    <input type="text"  id="inputName" placeholder="Имя">
                </div>
                <div class="form-group">
                    <input type="email"  id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text"  id="inputTopic" placeholder="Тема">
                </div>
                <div class="form-group">
                    <textarea  id="inputMessage" placeholder="Сообщение"></textarea>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>