<div class="shelters-list-info">
	<div>
		<div class="description">
		  <h2>Хочу домой </h2>
		  <div class="slogan">
              <p>Приют регулярно забирает животных с живодёрни, промзон, садов и улиц города на протяжении 8 лет
               </p>
          </div>
		  <!--<div class="vk"> <a href="https://vk.com/sobakot74" target="_blank">Группа Вконтакте</a> </div>-->
		  <div class="text">
			  <p>Летом 2014 года была куплена земля на ЧМЗ и приют "Хочу домой" переехал на подаренную спонсорами землю в 25 соток, начал свое существование практически с 0!
                "Хочу домой" создан для помощи животным, попавшим в беду. 70 собак и щенков, 20 кошек и маленькая команда энтузиастов, которые пытаются поднять приют на ноги.</p>
                <p>Без ВАШЕЙ помощи нам не справиться! Основная проблема - строительство ЗАБОРА вокруг Приюта, ВОЛЬЕРОВ и выгульников для собак, а также БУДОК!!!
                Очень нужны стройматериалы.</p>
          </div>
		  <!--<button>Посмотреть животных</button>-->
		  <div class="hrefs">
              <a class="img-color"></a>
			  <div>
				  <div class="img"
			         style="background-image: url('http://www.preventivevet.com/hs-fs/hub/347034/file-2362500793-jpg/Cat-dog-icon-small.jpg?t=1437097522219');height:50px;width:50px;margin:0 auto;"
					 title="Животные">
				    </div>
					<span>Наши животные </span>
				</div>
                <a class="img-color" href="https://vk.com/sobakot74" target="_blank"></a>
				<div>
				  <div class="img"
			         style="background-image: url('http://thedkmodels.com/vk.jpg');height:50px;width:50px;margin:0 auto;"
					 title="Животные">
				    </div>
					<span>Группа вконтакте </span>
				</div>
			</div>
		</div>
		<div class="img"
	         style="background-image: url('https://pp.vk.me/c623823/v623823260/3548d/jL39iQx7pYE.jpg');
	         title="1">
	    </div>
	</div>
</div>



<div class="help-block">
    <header><h1>КАК ПОМОЧЬ</h1></header>
    <div>
        <div class="message-info">
            <h3> Нужды приюта </h3>
            <ul>
                <li>газеты и картон</li>
                <li>мясо ( курица, говядина ), консервы мясные</li>
                <li>крупы для варки еды собакам (геркулес, рис, гречка, смеси круп), макароны</li>
                <li>большие кастрюли, баки для варки еды, тазы или большие миски для кормления собак</li>
                <li>лекарства, средства для обработки от блох и клещей</li>
                <li>старая верхняя одежда для утепления будок </li>
                <li>перчатки и одежда для работников: куртки, свитера, футболки, джинсы, резиновые сапоги</li>
                <li>одеяла, постельное белье</li>
                <li>продукты для работников</li>
                <li>материалы для строительства вольеров, старая мебель </li>
            </ul>
        </div>
        <div>
            <h3> Пункты сбора </h3>
            <p>Все, что вы хотите передать в приют, можно привезти лично или оставить в одном из следующих пунктах сбора помощи:</p>
            <ul>
                <li>ЧМЗ: ул. 50 лет ВЛКСМ, д. 35 хозяйственный магазин "SПРОФИ", тел.89043004731</li>
                <li>АМЗ: ул.Рылеева, тел. 89514718933, Елена</li>
                <li>ЧТЗ: ул.Танкистов, д.138, тел. 89514594593, Катерина</li>
                <li>СЗ: ул. Чайковского, д.183(а), около магазина "Небо" (с 9 до 15 часов по будням), тел. 89049720097, Дарья</li>
                <li>ЦЕНТРАЛЬНЫЙ РАЙОН: ул.Сони Кривой, д.51а, кв.101, тел. 8-922-23-22-961, Лена</li>
                <li>СЗ: Каширинский рынок,тел. 89043063409, Алена. Также Алене можно заказывать для животных приюта куриную грудную кость и кожу по 20 рублей. </li>
                
            </ul> 
        </div>
        <div>
            <h3> Финансовая помощь </h3>
            <p>Карта Сбербанка: 4276 7200 1100 7269 </p>
            <p>Яндекс кошелек: 4100 112 956 30 163 </p>
            <p>Вы можете помочь прямо сейчас и перевести любую сумму на наш Яндекс-кошелек</p>
            <form class="paymentForm" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
              <input type="hidden" name="receiver" value="410011295630163"> 
              <input type="hidden" name="formcomment" value="Приют для животных «Хочу домой»">
              <input type="hidden" name="short-dest" value="Приют для животных «Хочу домой»">
              <input type="hidden" name="quickpay-form" value="donate"> 
              <input type="hidden" name="targets" value="Помощь животным приюта «Хочу домой» г. Челябинск">
              <div class="form-group ">
                <label for="sum" ">Сумма пожертвования</label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control" id="sum" name="sum" value="100" >
                </div>
                <div id="rubDiv" >
                 <span>руб.</span>
                </div>
              </div>
              <div class="form-group" id="paymentTypes">
                  <label for="">Способ оплаты</label>
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="AC" checked> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__any-card.png" alt="" title="">
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="MC"> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__mobile.png" alt="" title="">
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="PC"> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__yamoney.png" alt="" title="">
                      </label>
                   </div>
                </div>
                <div class="form-group" id="commentGroup">
                    <label for="comment" ">Комментарий (необязательно)</label>
                    <textarea class="form-control" name="comment" rows="3" placeholder="Здесь можно указать цель пожертвования, например, на корм и лечение животных."></textarea>
                </div> 
                 <div>                         
                    <button class="btn btn-danger" type="submit">ПОМОЧЬ</button>
                </div>
            </form>
            
        </div>
        
    </div>
</div>

<div class="find-block">
    <header><h1>КАК НАС НАЙТИ</h1></header>
    <div>
        <div class="message_info">
           <h4>Проезд на автомобиле </h4>
           <p>Едем с ЧМЗ, в сторону аэропорта, проезжаем через мост, который идет над территорией завода МЕЧЕЛ, по этому мосту слева от вас ездят трамваи. Под Вами ездят поезда и с обоих сторон ЗАВОД. На этом же мосту есть ответвление налево, ЕДЕМ ПРЯМО, КАК В АЭРОПОРТ. Спустившись с моста - СРАЗУ НАПРАВО, дорога из плит плохая, метров через 200 будет ЖД переезд и дорога сама повернет налево, едем дальше, еще метров через 200 дорога свернет направо. Через 50 метров СПРАВА смотрите указатель ПРИЮТ ХОЧУ ДОМОЙ, поворачиваете направо, и через 30-40 метров еще раз направо в первый поворот, далее еще 50 метров прямо и ДОБРО ПОЖАЛОВАТЬ В ПРИЮТ! Вас встретят, обнюхают, может даже облаят.</p> 
           <h4>Проезд на общественном транспорте </h4>
           <p>Автобус</p>
           <ul>
               <li>26 ЧМК(ул. Павелецкая) - Электродный завод. До остановки "Электродный завод". </li>
               <li>41 Аэропорт - Автопарк. До остановки "Коксохим". </li>
           </ul>
           <!--<p>Трамвай</p>
           <ul>
               <li>19 Чичерина - ЭСПЦ-6. До остановки "Доломитная". </li>
           </ul>-->
            <p>Маршрутное такси</p>
           <ul>
               <li>82 Ж/д вокзал - Аэропорт. До остановки "Коксохим". </li>
           </ul>
        </div>
        <div class="yandex_map">
            <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=pXeysrVfH-uJriFzvUdAI6OiFFGm_WjO&width=500&height=450"></script>
        </div>
    </div>
</div>

<div class="contacts-block">
    <header><h1>КОНТАКТЫ</h1></header>
    <div>
        <div class="message-info">
            <ul>
                <li><a href="https://vk.com/id170187750" target="_blank">Наталья Антонова</a><br>
                    Руководитель<br>
                    8-904-300-47-31<br>
                </li>
                <li><a href="https://vk.com/id162071698" target="_blank">Анна Мясникова</a><br>
                    Редактор группы, волонтер<br>
                </li>
        </div>
        <div class="message-form">
            <form>
                <div class="form-group">
                    <input type="text"  id="inputName" placeholder="Имя">
                </div>
                <div class="form-group">
                    <input type="email"  id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text"  id="inputTopic" placeholder="Тема">
                </div>
                <div class="form-group">
                    <textarea  id="inputMessage" placeholder="Сообщение"></textarea>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>