<div class="shelters-list-info">
	<div>
		<div class="description">
		  <h2>Лучик надежды </h2>
		  <div class="slogan">
              <p>На данный момент на попечении приюта более 20 собак и 8 кошек. 
               </p>
          </div>
		  <!--<div class="vk"> <a href="https://vk.com/sobakot74" target="_blank">Группа Вконтакте</a> </div>-->
		  <div class="text">
			  <p>Друзья, если не сложно расскажите о нашем приюте своим друзьям.В первую очередь приют нуждается в помощи кормом: За неделю уходит 2 мешка сухого корма по 15 кг (для собак) и примерно 8-10 кг сухого корма для кошек, часть собак едят только каши, нужна крупа рис, геркулес, гречка, мясное, куриное, очень нужны овощи морковь, капуста, кабачки. Во вторую очередь нужны различные моющие средства, для чистоты и дезинфекции.Всегда нужны глистогонные средства, прател, тронцил, цистал.</p>
          </div>
		  <!--<button>Посмотреть животных</button>-->
		  <div class="hrefs">
              <a class="img-color"></a>
			  <div>
				  <div class="img"
			         style="background-image: url('http://www.preventivevet.com/hs-fs/hub/347034/file-2362500793-jpg/Cat-dog-icon-small.jpg?t=1437097522219');height:50px;width:50px;margin:0 auto;"
					 title="Животные">
				    </div>
					<span>Наши животные </span>
				</div>
                <a class="img-color" href="https://vk.com/club80672689" target="_blank"></a>
				<div>
				  <div class="img"
			         style="background-image: url('http://thedkmodels.com/vk.jpg');height:50px;width:50px;margin:0 auto;"
					 title="Животные">
				    </div>
					<span>Группа вконтакте </span>
				</div>
			</div>
		</div>
		<div class="img"
	         style="background-image: url('https://pp.vk.me/c625320/v625320567/a1b5/UW7HYM6Vw5Q.jpg');
	         title="1">
	    </div>
	</div>
</div>


<div class="help-block">
    <header><h1>КАК ПОМОЧЬ</h1></header>
    <div>
        <div class="message-info">
            <h3> Нужды приюта </h3>
            <p>Питание для собак</p>
            <ul>
                <li>Крупы: рис, геркулес, гречка</li>
                <li>Мясо: курица, говядина, полуфабрикаты</li>
                <li>Овощи: морковь, капуста, кабачки</li>
            </ul>
            <p>Моющие средства для чистоты и дезинфекции</p>
            <p>Глистогонные средства, прател, тронцил, цистал.</p>
        </div>
        <div>
            <h3> Финансовые нужды </h3>
            <p>Просим помощи в оплате съемного дома (где живут собаки) каждый месяц 10 числа мы должны оплатить 6000 рублей</p>
            <p>Вы можете очень помочь животным приюта оставив любую сумму в ветеринарной клинике "Доктор ВЕТ" г.Челябинск, Братьев Кашириных ул. 118/1 , с пометкой для приюта "Лучик Надежды" (и отписавшись здесь) на оказание ветеринарных услуг в будущем, в приюте есть больные животные, с которыми периодически приходится ездить в ветклинику, а также вновь поступивших животных нужно вакцинировать и стерилизовать!</p>
        </div>
        <div>
            <h3> Финансовая помощь </h3>
            <p>Номер карты: 639002729016519164</p>
            <p>Яндекс кошелек: 410011685324682</p> 
            <p>Киви кошелек: 9085888511</p>
            <p>Вы можете помочь прямо сейчас и перевести любую сумму на наш Яндекс-кошелек</p>
             <form class="paymentForm" method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
              <input type="hidden" name="receiver" value="410011685324682"> 
              <input type="hidden" name="formcomment" value="Приют для животных «Лучик надежды»">
              <input type="hidden" name="short-dest" value="Приют для животных «Лучик надежды»">
              <input type="hidden" name="quickpay-form" value="donate"> 
              <input type="hidden" name="targets" value="Помощь животным приюта «Лучик надежды» г.Челябинск">
              <div class="form-group ">
                <label for="exampleInputEmail1" ">Сумма пожертвования</label>
                <div class="col-sm-6" >
                    <input type="text" class="form-control" id="sum" name="sum" value="100" >
                </div>
                <div id="rubDiv" >
                 <span>руб.</span>
                </div>
              </div>
              <div class="form-group" id="paymentTypes">
                  <label for="">Способ оплаты</label>
                  <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="AC" checked> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__any-card.png" alt="" title="">
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="MC"> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__mobile.png" alt="" title="">
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="paymentType" id="AC" autocomplete="off" value="PC"> <img class="b-icon b-form-radio__ico" src="/images/quickpay-widget__yamoney.png" alt="" title="">
                      </label>
                   </div>
                </div>
                <div class="form-group" id="commentGroup">
                    <label for="comment" ">Комментарий (необязательно)</label>
                    <textarea class="form-control" name="comment" rows="3" placeholder="Здесь можно указать цель пожертвования, например, на корм и лечение животных."></textarea>
                </div> 
                 <div>                         
                    <button class="btn btn-danger" type="submit">ПОМОЧЬ</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="contacts-block">
    <header><h1>КОНТАКТЫ</h1></header>
    <div>
        <div class="message-info">
            <ul>
                <li><a href="https://vk.com/id73254567" target="_blank">Инга Ребкова</a><br>
                    Руководитель<br>
                    8-902-614-7233, 8-908-588-85-11 <br>
                </li>
                <li><a href="https://vk.com/lady.katrin3" target="_blank">Екатерина Павлова</a><br>
                    Администратор группы, волонтер<br>
                </li>
        </div>
        <div class="message-form">
            <form>
                <div class="form-group">
                    <input type="text"  id="inputName" placeholder="Имя">
                </div>
                <div class="form-group">
                    <input type="email"  id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text"  id="inputTopic" placeholder="Тема">
                </div>
                <div class="form-group">
                    <textarea  id="inputMessage" placeholder="Сообщение"></textarea>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>